(
    name: "Monochrome Dark",
    foreground: "#BDBDBD",
    cursor: "#AAAAAA",
    bright_foreground: "#DDDDDD",
    dim_foreground: "#828282",
    normal: (
        black: "#111111",
        red: "#DDDDDD",
        green: "#CCCCCC",
        yellow: "#AAAAAA",
        blue: "#A7A7A7",
        magenta: "#BDBDBD",
        cyan: "#AAAAAA",
        white: "#BDBDBD",
    ),
    bright: (
        black: "#484848",
        red: "#EEEEEE",
        green: "#DDDDDD",
        yellow: "#CCCCCC",
        blue: "#BDBDBD",
        magenta: "#DDDDDD",
        cyan: "#CCCCCC",
        white: "#F5F5F5",
    ),
    dim: (
        black: "#000000",
        red: "#828282",
        green: "#828282",
        yellow: "#636363",
        blue: "#636363",
        magenta: "#828282",
        cyan: "#636363",
        white: "#828282",
    ),
)
