(
    palette: Dark((
        name: "monochrome-dark",
        bright_red: "#DDDDDDFF",
        bright_green: "#CCCCCCFF",
        bright_orange: "#AAAAAAFF",
        gray_1: "#111111FF",
        gray_2: "#1C1C1CFF",
        gray_3: "#2A2A2AFF",
        neutral_0: "#000000FF",
        neutral_1: "#111111FF",
        neutral_2: "#1C1C1CFF",
        neutral_3: "#2E2E2EFF",
        neutral_4: "#484848FF",
        neutral_5: "#636363FF",
        neutral_6: "#828282FF",
        neutral_7: "#A7A7A7FF",
        neutral_8: "#BDBDBDFF",
        neutral_9: "#DDDDDDFF",
        neutral_10: "#FFFFFFFF",
        accent_blue: "#AAAAAAFF",
        accent_indigo: "#A7A7A7FF",
        accent_purple: "#BDBDBDFF",
        accent_pink: "#CCCCCCFF",
        accent_red: "#DDDDDDFF",
        accent_orange: "#AAAAAAFF",
        accent_yellow: "#CCCCCCFF",
        accent_green: "#CCCCCCFF",
        accent_warm_grey: "#A7A7A7FF",
        ext_warm_grey: "#828282FF",
        ext_orange: "#AAAAAAFF",
        ext_yellow: "#CCCCCCFF",
        ext_blue: "#BDBDBDFF",
        ext_purple: "#A7A7A7FF",
        ext_pink: "#DDDDDDFF",
        ext_indigo: "#AAAAAAFF",
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some("#A7A7A7FF"),
    bg_color: Some("#111111FF"),
    primary_container_bg: Some("#1C1C1CFF"),
    secondary_container_bg: Some("#2A2A2AFF"),
    text_tint: Some("#828282FF"),
    accent: Some("#AAAAAAFF"),
    success: Some("#CCCCCCFF"),
    warning: Some("#AAAAAAFF"),
    destructive: Some("#DDDDDDFF"),
    frosted: VeryLow,
    gaps: (0, 7),
    active_hint: 1,
    window_hint: Some("#BDBDBDFF"),
    frosted_windows: true,
    frosted_system_interface: true,
    frosted_panel: true,
    frosted_applets: true,
    frosted_maximized_apps: false,
    alpha_map: (
        extremely_low: 0.78,
        extremely_low_2: 0.75692,
        very_low: 0.73385,
        very_low_2: 0.71076,
        low: 0.68769,
        low_2: 0.66460997,
        medium: 0.64154,
        medium_2: 0.61846,
        high: 0.59538,
        high_2: 0.57231,
        very_high: 0.54023,
        very_high_2: 0.52615,
        extremely_high: 0.50308,
        extremely_high_2: 0.48000002,
    ),
)
