(
    palette: Dark((
        name: "monochrome-dark",
        bright_red: "#DDDDDDFF",
        bright_green: "#CCCCCCFF",
        bright_orange: "#AAAAAAFF",
        gray_1: "#111111FF",
        gray_2: "#1C1C1CFF",
        gray_3: "#2A2A2AFF",
        neutral_0: "#000000FF",
        neutral_1: "#111111FF",
        neutral_2: "#1C1C1CFF",
        neutral_3: "#2E2E2EFF",
        neutral_4: "#484848FF",
        neutral_5: "#636363FF",
        neutral_6: "#828282FF",
        neutral_7: "#A7A7A7FF",
        neutral_8: "#BDBDBDFF",
        neutral_9: "#DDDDDDFF",
        neutral_10: "#FFFFFFFF",
        accent_blue: "#AAAAAAFF",
        accent_indigo: "#A7A7A7FF",
        accent_purple: "#BDBDBDFF",
        accent_pink: "#CCCCCCFF",
        accent_red: "#DDDDDDFF",
        accent_orange: "#AAAAAAFF",
        accent_yellow: "#CCCCCCFF",
        accent_green: "#CCCCCCFF",
        accent_warm_grey: "#A7A7A7FF",
        ext_warm_grey: "#828282FF",
        ext_orange: "#AAAAAAFF",
        ext_yellow: "#CCCCCCFF",
        ext_blue: "#BDBDBDFF",
        ext_purple: "#A7A7A7FF",
        ext_pink: "#DDDDDDFF",
        ext_indigo: "#AAAAAAFF",
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some("#A7A7A7FF"),
    bg_color: Some("#111111FF"),
    primary_container_bg: Some("#1C1C1CFF"),
    secondary_container_bg: Some("#2A2A2AFF"),
    text_tint: Some("#828282FF"),
    accent: Some("#AAAAAAFF"),
    success: Some("#CCCCCCFF"),
    warning: Some("#AAAAAAFF"),
    destructive: Some("#DDDDDDFF"),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 1,
    window_hint: Some("#BDBDBDFF"),
)
